{% extends "base.html" %}
{% load static %}
        {% block content %}
        
        <h1>welcome index page</h1>
        <div class="jumbotron">
            {% if registered %}
            <h1>THANK YOU FOR REGISTERING!</h1>
            {% else %}
            <h1>FILL THE REGISTRATION FORM</h1>
            <form method="POST">
                {% csrf_token %}
                {{user_form.as_p}}
                {{profile_form.as_p}}
                <input type="submit" value="Register" name="">

            </form>
            {% endif %}
        </div>
        {% endblock %}