{% extends "base.html" %}
{% load static %}
        {% block content %}
        <style>
            input{
                color:red;
            }
        </style>
        <div class="container">
            <form method="post"> 
                {{form.as_p}}
                {% csrf_token %}
                <input type="submit" class="btn btn-primary" value="Submit">
                </form>
                
        </div>
        <h1><h1 style="color: coral;">{{cont}}</h1><h1 style="color: crimson;">{{yourname}}</h1><h1 style="color: coral;">{{cont1}}</h1><h1 style="color: crimson;">{{yourcrushname}}</h1><h1 style="color: coral;">{{cont3}}</h1><h1 style="color: crimson;">{{output}}</h1></h1>
        
        {% endblock %}